@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Roboto:wght@300;400;500;700&display=swap");

.hide{
  overflow: hidden;
}

.section2Slider .slick-slide {
  margin-right: 21px !important;
}

.section5Slider .slick-slide.slick-active.slick-current div .item {
  box-shadow: 6px 13px 38px 0px rgba(0, 0, 0, 0.12) !important;
}

.section3Slider .slick-slide{
  display: flex !important;
  justify-content: center;
}

@media (min-width: 640px) {
  .section5Slider .slick-slide {
    margin-right: 27px !important;
  }
  .section5Slider .slick-list {
    height: 531px !important;
  }
  .section5Slider .slick-list .slick-track {
    height: 531px !important;
  }
}
@media (min-width: 1200px) {
  .slider3 .slick-slide.slick-active.slick-current {
    margin-right: 65px;
  }
}

@media (min-width: 1350px) {
  .slider4 .slick-slide.slick-active.slick-current div{
    margin-right: 35px !important;
  }
}
