@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Roboto:wght@300;400;500;700&display=swap");
.section2Slider .slick-slide {
  margin-right: 21px !important;
}

.section5Slider .slick-slide.slick-active.slick-current div .item {
  box-shadow: 6px 13px 38px 0px rgba(0, 0, 0, 0.12) !important;
}

@media (min-width: 640px) {
  .section5Slider .slick-slide {
    margin-right: 27px !important;
  }
  .section5Slider .slick-list {
    height: 531px !important;
  }
  .section5Slider .slick-list .slick-track {
    height: 531px !important;
  }
}
